.card {
    background-color: #101010;
    border-radius: 10px;
    width: 400px;
    height: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: .15s ease-in-out;
}

.card:hover {
    transition: .15s ease-in-out;
    box-shadow: 1px 1px 40px 3px var(--platinum);
}

.card .imgContainer {
    width: 100%;
}

.card .imgContainer img {
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card .imgContainer .skeletonImg {
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card .infoBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 20px;
}

.card .infoBox h1 {
    padding-top: 10px;
}

.card .infoBox time {
    font-style: italic;
    padding-top: 10px;
}

.card .infoBox p {
    padding-top: 10px;
}

.card .buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: auto;
    margin-bottom: 20px;
}