.card {
    background-color: #101010;
    border-radius: 10px;
    width: 250px;
    height: 300px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card .imageContainer {
    width: 100%;
    height: auto;
}

.card .imageContainer img {
    border-radius: 10px 10px 0px 0px;
    object-fit: contain;
    cursor: pointer;
}

.card h1 {
    cursor: pointer;

}

.card p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 3px;
    cursor: pointer;
    border-bottom: 2px solid rgb(149, 0, 0);
    transition: .15s ease-in-out;
}

.card p:hover {
    transform: scale(1.1);
    transition: 0.15s ease-in-out;
    color: rgb(149, 0, 0);
}