.primary {
    color: var(--white);
    background-color: var(--blood-red);
    border-radius: 10px;
    padding: 10px 15px;
    margin: 0;
    cursor: pointer;
}

.primary h1 {
    font-size: 14px !important;
}

.auto {
    width: auto;
}

.lg {
    width: 100px;
}