.primary {
    background-color: rgb(144, 0, 0);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0;
}

.primary h1 {
    font-size: 18px !important;
}

.auto {
    width: auto;
}

.lg {
    width: 100px;
}